<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech of Blogs</title>
  {{!-- <link rel="stylesheet" type="text/css" href="/css/jass.css"> --}}
  <link rel="stylesheet" type="css" href="/public/css/style.css">
</head>

<body>
  <header>
    
  <nav>
    <a href="/">Home</a> 
    {{#if loggedIn}}
    <button id="logout" class="btn-no-style">Logout</button>
    {{else}}
    <a href="/Login">Login</a>
    {{/if}}
  </nav>
  </header>
  <main>
    {{{body}}}
  </main>  
  <!-- If the user is logged in, load the JS script for when they logout -->
  {{!-- {{#if loggedIn}} --}}
  {{!-- <script src="/js/logout.js"></script> --}}
  {{!-- {{/if}} --}}
</body>

</html>