<div>
  <h1>Your Posts</h1>  
      {{#each blogs as | blog |}}
        {{> dashboard-blog-parital}}
      {{/each}}   
  <div class="post-button">
   <a href="/dashboard/postathought">Think a thought and post it</a>
  </div> 
</div> 



