<div>
  <h1>Your Posts</h1>  
      {{#each blogs as | blog |}}
        {{> dashboard-blog-parital}}
      {{/each}}   
  <div class="col-md-6">
    <a href="">

    </a>
  </div>
</div>
<script src="./js/addPost.js"></script>
