<div>
  <h1>Your Blogposts</h1>
  {{!-- {{#if logged_in}}
    {{#if blog.author_id = id}}
      {{#each blogs as | blog |}}
        {{> blog-partial}}
      {{/each}}
    {{/if}}
  {{/if}}
  {{#else}}
  <h1>You need to log into your account to see this page.</h1>
  {{/else}} --}}
  
</div>



<script src="./js/addPost.js"></script>
